<!-- put the prompt at the top of the page -->
<form id="poems" method="post" action="/posts">
  <input type="text" name="seed word" placeholder="seed word">
  <input type="submit" value="Submit seed word">
</form>

<!-- put an iterator here to show all of the poems -->
<div class='poem-container'>
  <% @poems.each do |poem| %>
    <article id="<%= poem.id %>">
        <span class='poem'><%= poem.body %></span>
        <span class='timestamp'><%= poem.created_at %></span>
    </article>
  <% end %>
</div>
